@import url('https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic');
@import url('normalize.min.css');
@import url('uikit.min.css');
body {
	background-color: #f8f8f8;
}
.lh-policegirl {
	height: 80;
	width: 80;
	cursor: help;
}
.lh-capitalize {
	text-transform: capitalize;
}
.lh-uppercase {
	text-transform: uppercase;
}
.lh-lowercase {
	text-transform: lowercase;
}